html {
    box-sizing:border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
img {
    max-width: 100%;
}

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
    font-family: 'Proxima Nova Condensed', sans-serif;
    font-size: 45px !important;
    font-weight: 600 !important;
    line-height: 56px !important;
}

h2 {
    font-family:'Proxima Nova Condensed', sans-serif;
    font-size: 34px;
    font-weight: bolder;
}

p {
    font-family: 'Proxima Nova Condensed', sans-serif;
    font-size: 18px ;
    font-weight: 600;
}

a {
    font-family: 'Proxima Nova Condensed', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}







.container {
    padding: 0 70px !important;
}
.navbar-3 {
    height: 85px;
}
.nav-link {
    color: black !important;
    padding-right: 0px !important;
    padding-left: 20px !important;
}

.al-py-lg{
    padding: 70px !important;
    height: 600px;
    justify-content: center;
}

.preview_gg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 710px;
    height: 285px;
    margin-top: 87px;
}
.page-index .preview-btn {
    padding: 15px 25px;
    background: #B01736;
    border-radius: 8px;
}
.page-index .preview-btn:hover {
    background: #D43152;
}
.preview-item .btn {
    color: white !important;
}
.al-py-mg{
    padding: 100px 70px 50px 70px!important;
}
.conteiner-about{
    background: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
    text-align: center;
}
.about-text {
    height: 22em;
    position: relative;
}
.container-rg {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0px 120px;
}
.container-rg p {
    margin: 0;
    font-family: 'Proxima Nova Condensed', sans-serif;
    font-size: 26px !important;
    font-weight: 600 !important;
    line-height: 38px !important;
}
.bj {
    color: #A30C33;
    font-family: 'Proxima Nova Condensed', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
}


.container-stats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 65px;
}
.item-stats {
    width: 33%;
    align-items: center;
    padding: 20px;
}
.item-stats-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 0px;
}
.item-stats-text p {
    color: #A30C33;
    font-size: 80px !important;
    line-height: 64px !important;
}
.item-stats-text p span {
    color: #A30C33;
    font-size: 64px !important;
    line-height: 64px !important;
}

.al-py-vg {
    padding: 0px 0px 100px 0px !important;
}

.container-tabs-menu {
    background: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
    position: relative;
}
.tabs-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.dropbtn {
    background-color: white;
    border: none;
    cursor: pointer;
}
.btn-check:focus + .btn, .btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
.dropdown {
    position: relative;
    display: inline-block;
    padding-left: 55px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
    margin-top: 20px;
    width: 100%;
}
.content-column {
    display: flex;
    justify-content: space-between;
    padding: 0px 55px;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {display:block;}



.tab {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: white;
    padding-right: 55px;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: white;
}
.tab button.active {
    outline: none!important;
    box-shadow: inset 0 .1875rem #ff4649!important;
}
.tabcontent {
    display: none;
    padding-top: 90px;
}

.al-py-cg {
    padding: 70px 0px !important;
    height: 471px;
    justify-content: center;
    background-color: #A30C33;
    position: relative;
}
.container-pattern {
    display: flex;
    justify-content: space-between;
}
.pattern-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.al-directions {
    padding: 100px 0px 35px 0px !important;
}
.directions-business {
    display: flex;
    flex-direction: column;
}
.text-business {
    text-align: center;
}
.image-business {
    display: flex;
    flex-wrap: wrap;
    margin-top: 37px;
}
.bs-gate {
    width: 50%;
    align-items: center;
}
.bs-gate:nth-child(2n) {
    padding: 10px 0px 10px 10px;
}
.bs-gate:nth-child(2n+1) {
    padding: 10px 10px 10px 0px;
}
.item-business {
    position: relative;
}
.dropup {
    display: block;
    position: absolute !important;
    width: 100%;
    top: 180px;
    height: 80px;
    left: 0;
}
.dropupbtn {
    text-align: left !important;
    background-color: #00000078 !important;
    color: white !important;
    width: 100%;
    height: 100%;
}
.businesscontent {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
    padding: 20px;
    background-color: #00000078 !important;
}
.br {
    font-family: 'Proxima Nova Condensed', sans-serif;
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
    padding: 20px 0px;
    color: white;
}
.st {
    max-width: 480px;
    font-family: 'Proxima Nova Condensed', sans-serif;
    font-size: 17px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    color: white;
}

.container-bonuses {
    display: flex;
    flex-direction: column;
    background: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 20px;
}
.compensation {
    display: flex;
    flex-direction: column;
}
.compensation-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.item-compensation {
    width: 20%;
    align-items: center;
    padding: 20px;
}
.item-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}
.item-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #dbdbdb;
    margin-bottom: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.motivation {
    display: flex;
    flex-direction: column;
}

.container-life {
    display: flex;
    justify-content: space-between;
}
.circle-btn {
    display: flex;
    justify-content: space-between;
    width: 120px;
}
.item-btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #dbdbdb;
    margin-bottom: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-status {
    display: flex;
}
.item-status {
    width: 20%;
    padding: 5px;
}
.linebtn {
    background-color: none;
    border: none;
    background-color: #dbdbdb;
    width: 100%;
    height: 8px;
}
.active {
    background-color: #ff4649;
}



@media (min-width: 1400px) {
    .container {
        max-width: 1250px !important;
    }
}
